@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #3d3c3d;
    --bg-header: #10917b;
    /* --header-height: 5rem; */
    --color-orange: #84f1e3;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: var(--bg-color);
    /* height: 100vh; */
}

form {
    padding: 0.5rem;
}

main {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: var(--bg-header);
    width: 25%;
    border-radius: 2rem;
    padding: 1.5rem 4rem;
}

label {
    display: block;
    font-size: 0.8rem;
}

legend {
    font-size: 0.8rem;
}

input {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.6rem;
    padding: 0.4rem;
    
}

fieldset {
    
    padding-block-end: 0.5em;
}    


select {
    display: block;
    border-radius: 0.6rem;
    padding: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
}


button {
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    border: none;
    font-weight: bold;
    background-color: rgb(100, 100, 100);
    color: white;
}

