@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-orange: #ebee30;
}


body{
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color:#ce0005
                              ;
}

main{
  text-align: center;
}

main img{
  width: 250px;
}

label, option, select{
  display: block;
}

input, textarea{
  margin-bottom: 15px;
  resize: none;
}

select{
  margin: 0px auto 15px;
}

button {
  padding: 0.6rem 1.5rem;
  border-radius: 4rem;
  margin: 1.5rem 1.5rem 0 1.5rem;
  border: none;
  font-weight: bold;
  background-color: white;
  transition: all 200ms ease;
}

/* ANIMAÇÕES */

input,
select {
    transition: all 400ms ease;
}

input:hover,
select:hover {
    transform: scale(1.05);
}

#arrow-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:hover {
    transform: scale(1.1);
    background-color: var(--color-orange);
    color: rgb(14, 13, 13);