*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
  

.banner{

  background-image: url("https://picsum.photos/id/237/1280/720");
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: top;
  text-align: center;
  padding: 200px;
  color:white;
}

section button{
  padding: 8px;
  background-color:yellow;
  border-radius: 8px;
  color:black;
  border: none !important;


}
